@page
@model WebApplication1.Pages.Payment.IndexModel

<h1>Payments</h1>

<table class="table">
    <thead>
    <tr>
        <th>Payment ID</th>
        <th>Total Price</th>
        <th>Payment Method</th>
        <th>Payment Time</th>
        <th>Payment Status</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var payment in Model.Payments)
    {
        <tr>
            <td>@payment.PaymentId</td>
            <td>@payment.TotalPrice</td>
            <td>@payment.PaymentMethod</td>
            <td>@payment.PaymentTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
            <td>@payment.PaymentStatus</td>
        </tr>
    }
    </tbody>
</table>